<h2>Personal Collections</h2>

<%= paginate @solr_response, :outer_window => 2, :theme => 'blacklight' %>
<ul>
<% @solr_response.documents.each do |u| %>
  <li>
    <%= u.title %>
    <ol>
      <%= render partial: 'personal_collection', collection: u.collection_members %>
    </ol>
  </li>
<% end %>
