<div id="about" class="col-xs-12 col-sm-6 col-md-8">
  <!-- Edit this text in app/views/pages/about.html.erb -->
  <h2>About Us</h2>
  <p>
    Trove is the result of a collaboration between
    <a href="http://tischlibrary.tufts.edu">Tisch Library</a> (VRC),
    <a href="http://ase.tufts.edu/art/resources/">Visual Resources Collection</a> (VRC),
    <a href="http://dca.tufts.edu/">Digital Collections and Archives</a> (DCA),
    and <a href="http://sites.tufts.edu/ests/">Educational and Scholarly Technology Services</a> (ESTS).
    Trove has been developed to support the pedagogical needs of the
    Department of Art and Art History faculty, students and staff. Materials in Trove
    may have access and usage restrictions.  Consequently, access to Trove requires login via a
    valid <a href="http://uit.tufts.edu/?pid=744">Tufts SSO</a> username and password.

  </p>

  <h3>Technology</h3>
  <p>
    Trove is built entirely on FLOSS (Free, Libre, and Open Source Software). The underlying data storage
    is managed with the Fedora Commons Repository. Our user interface is developed using Blacklight and Hydra,
    with indexing powered by Solr.
  </p>
</div>
