<!-- Edit this text in app/views/pages/contact.html.erb -->
<h2>Contact Us</h2>
<p>
  The Tufts Digital Image Library is the result of a collaboration between
  <a href="http://dca.tufts.edu/">Digital Collections and Archives</a>(DCA),
  Tufts <a href="http://ase.tufts.edu/art/resources/">Visual Resources Collection</a>(VRC).
  and <a href="http://sites.tufts.edu/ests/">Tufts Technology Services Educational and Scholarly Technology Services</a>(ESTS).
</p>

<p>
  For questions about the individual images and collections available in the Digital Image Library, please contact the
  Department of Art and Art History Visual Resources manager.  Contact information is available via the<br/>
  <a href="http://ase.tufts.edu/art/resources/"  >Visual Resource Center Information Page</a>
</p>

<p>
  For technical questions about the operation and features of the Digital Image Library, please contact<br/>
  <a href="http://dca.tufts.edu/">Digital Collections and Archives</a>
</p>

<p>
  For login issues or other username or password issues, please vist the<br/>
  <a href="http://uit.tufts.edu/?pid=744">Tufts Simplified Sign On (SSO) page</a>.
</p>
