<div id="contact" class="col-xs-10 col-md-8">
  <!-- Edit this text in app/views/pages/contact.html.erb -->
  <h2>Contact Us</h2>

  <p>
    For questions about the individual images and collections available in the Digital Image Library, please contact the
    Department of Art and Art History Visual Resources manager.  Contact information is available via the<br/>
    <a href="http://ase.tufts.edu/art/resources/"  >Visual Resource Center Information Page</a>.
  </p>

  <p>
    For technical questions about the operation and features of the Digital Image Library, please contact<br/>
    <a href="http://dca.tufts.edu/">Digital Collections and Archives</a>.
  </p>

  <p>
    For login issues or other username or password issues, please visit the<br/>
    <a href="http://uit.tufts.edu/?pid=744">Tufts Simplified Sign On (SSO) page</a>.
  </p>
</div>
