<div id="contact" class="col-xs-10 col-md-8">
  <!-- Edit this text in app/views/pages/contact.html.erb -->
  <h2>Contact Us</h2>

  <p>
    For questions about the individual images and collections available Trove, to request art images for inclusion in the
    collection, or to report corrections to descriptive information associated with an image please contact
    <a href="mailto:metadataservices@tufts.edu">Tisch Library Metadata Services</a>.
  </p>

  <p>
    For login issues or other username or password issues, please visit the<br/>
    <a href="http://uit.tufts.edu/?pid=744">Tufts Simplified Sign On (SSO) page</a>.
  </p>
</div>
