<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">Course Collections:</h5>
    </div>
    <ul class="panel-body curated-collection-list list-unstyled">
      <% @course_collections.each do |collection| %>
        <li data-collection-id="<%= collection.pid %>"><%= collection.title %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">My Collections:</h5>
  </div>
  <ul class="panel-body curated-collection-list list-unstyled">
    <% @my_collections.each do |collection| %>
      <li data-collection-id="<%= collection.pid %>"><%= collection.title %></li>
    <% end %>
  </ol>
</div>

<script type="text/javascript">
  $(function() {
    $(".document").draggable({
      helper: 'clone'
    });

    $(".curated-collection-list li").droppable({
      hoverClass: 'drop-target-hover',
      tolerance: 'pointer',
      drop: function(event, ui){
        pid = ui.draggable.find('.batch_document_selector').val();
        collection_id = $(this).data('collection-id');
        $.ajax({
          type: "PATCH",
          url: '/curated_collections/' + collection_id + '/append_to',
          data: {pid: pid},
          success: function(data, status){
            console.log(data);
            console.log(status);
          }
        });
      }
    });
  });
</script>
