<% cache do %>
  <div class="row">
    <% featured_records.each do |feature| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="text-center">
            <% image = (feature.is_a?(CuratedCollection) && feature.members.first) || feature %>
            <%= thumbnail_tag(image, datastream_id: 'Basic.jpg') %>
            <%= render 'curated_collections/index_header_default', document: feature %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <strong>Finding Course Collections:</strong> click on the course collections at the left of the screen and select a course to view.<br>
  <strong>Searching Images:</strong> use the search bar at top to search for keywords and names<br>
  <strong>Browsing Images:</strong> use the facet controls at left to browse by Subject, Name, or Date<br>
<% end %>
