<% cache do %>
  <div class="row features">
    <% featured_records.each do |feature| %>
      <div class="col-md-4">
        <% path = feature.kind_of?(TuftsImage) ? catalog_path(feature) : feature %>
        <%= link_to path, class: "thumbnail" do %>
          <div class="text-center">
            <% image = (feature.is_a?(CuratedCollection) && feature.representative_image || feature) || feature %>
            <%= thumbnail_tag(image) %>
             <h5 class="index_title">
               <%= feature.title %>
            </h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <p>
    Trove in an interface you can use to discover the image collections of Tufts Art & Art History Department. The image library allows faculty and students to create, present, and share image presentations
  </p>
<% end %>
