<% cache do %>
  <div class="row features">
    <% featured_records.each do |feature| %>
      <div class="col-md-4">
        <% path = feature.kind_of?(TuftsImage) ? catalog_path(feature) : feature %>
        <%= link_to path, class: "thumbnail" do %>
          <div class="text-center">
            <% image = (feature.is_a?(CuratedCollection) && feature.representative_image || feature) || feature %>
            <%= thumbnail_tag(image) %>
             <h5 class="index_title">
               <%= feature.title %>
            </h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <p>
    Trove is an interface that you can use to view image course collections of Tufts Art & Art History Department.
    You can also create your own personal image collections for study purposes.  The <a href="/help">Help pages</a> describe
    in detail how to view, create and share collections in Trove.

  </p>
<% end %>
