<dl class="dl-horizontal dl-invert">
  <dt> <%= title %> </dt>
  <dd>
  <% if collections.empty? %>
    none
  <% else %>
    <ul>
      <% collections.each do |coll| %>
        <li>
        <%= link_to coll.title, polymorphic_path(coll) %>
        </li>
      <% end %>
    </ul>
  <% end %>
  </dd>
</dl>
