<div class="row">

  <div class="col-md-6">
    <img src="<%= download_path(document.id, datastream_id: 'Basic.jpg') %>" style="width: 100%">
  </div>

  <div class="col-md-6">
    <%= render partial: 'show_default', locals: {document: document} %>

    <% course_collections = CourseCollection.where(member_ids_ssim:document.id) %>
    <% my_collections = current_user.personal_collections.where(member_ids_ssim:document.id) %>

    <%= render partial: 'show_collections', locals: { title: 'Course Collections', collections: course_collections, } %>
    <%= render partial: 'show_collections', locals: { title: 'My Collections', collections: my_collections, } %>
  </div>

</div>
