.show-tools {
  list-style-type: none;
}

.removeButton {
  color: darkgray;
  text-align: right;

  &:hover {
    color: darkred;
  }
}

.gallery .thumbnail {
  cursor: pointer;
}

.gallery .documentHeader {
  margin-left: 0px;
  margin-right: 0px;
}

.gallery dd {
  line-height: 115%;
}

.thumbnail img {
  max-width: 100%;
  height: 120px;
}


