.show-tools {
  list-style-type: none;
}

.removeButton {
  color: darkgray;
  text-align: right;

  &:hover {
    color: darkred;
  }
}

.gallery li .thumbnail {
  cursor: pointer;
}
form .gallery li .thumbnail {
  cursor: move;
}

