#header-navbar {
  .navbar-brand {
    background: none;
    width: 100%;
    text-indent: 0;
  }
}

.features {
  height: auto;
  margin-top: 4.1em;
  margin-bottom: 1.5em;
}

.features .thumbnail img{
  margin-top: 1.5em;
  margin-bottom: .5em;
}

.features .index_title {
  height: 4em;
}

footer {
  margin-top: 5px;
  border-top: 1px solid #e5e5e5;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
  text-align: center;
}

@media screen {

  #contact, #about {
    padding-bottom: 100px;
  }
  
  .scroll-inside {
    position: relative;
  }

  .scroll-inside > div {
  // add the scroll-inside class to make <div> elements immediately inside the containing element scrollable
    position: relative;
    overflow: auto;
    height: 100vh; // viewport hieght - supported in current releases of Chrome, Safari, IE, Firefox

  }

}

.img_help {
  padding: 25px;
  max-width: 620px;
}