<%# based on blacklight-5.4.0/app/views/catalog/_index_header_default.html.erb -%>
      <% # header bar for doc items in index view -%>
      <div class="documentHeader row">
         <h5 class="index_title col-sm-9 col-lg-10">
         <%= link_to document.title, document, class: 'dd-nodrag' %>
        </h5>
      </div>
