<% if can? :copy, collection %>
  <li>
    <%= form_tag [:copy, collection] do %>
      <button type='submit' class='btn btn-link' style='padding: 0'>
        copy this collection
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    <% end %>
  </li>
<% end %>
