<h1><%=@curated_collection.title %></h1>
<% if @curated_collection.members.size == 0 %>
  <h2>This collection does not have any members</h2>
<% else %>
  <h2>Members:</h2>
  <div id="orderable" class="dd row">
    <ol class="dd-list">
    <% @curated_collection.members.each do |member| %>
      <li class="dd-item" data-id="<%= member.id %>">
      <div class="dd-handle"><p><%= link_to member.title, catalog_path(member.id) %></p></div>
      </li>
    <% end %>
    </ol>
  </div>
<% end %>
